 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", system-ui 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", system-ui;
}

:root {
    /*Colores interfaz*/
    --primario: #04C887;
    --secundario: #FA967D;
    --oscuro: #1A4C3C;
    --medio-oscuro: #267359;
    --medio: #40BF95;
    --claro: #8CD9BF;
    --fondo: #B3E5D5;
    --blanquecino: #D9F2EA;
    --blanco: #FFFFFF;

}

.banner {
    background-color: var(--primario)
}